<script>
window.addEventListener('load', function() { // wait for JQuery to have loaded with defer

function refresh(force){
    if (force) {
        var doRefresh = true
    }
    else {
        var doRefresh = !$('body').hasClass('modal-open')
    }

    if (doRefresh) {
        timeLastInteraction = new Date().getTime();
        $.ajax({
           type: "GET",
           url: window.location,
           success: function(data)
           {
               // parses the string into an array of DOM nodes
               nodes = $.parseHTML(data, keepScripts=true)


               // re-writes the page
               $("#page_wrapper").replaceWith($(nodes).filter('#page_wrapper'))

               doThisOnDocumentReady()

           },
         });
    }
}
const interval_seconds = 60 // Every minute
const interval_seconds_force = 60*60 // Ever hour

var timeLastInteraction = new Date().getTime();
$(document.body).bind("mousemove keypress touchmove", function () {
    timeLastInteraction = new Date().getTime();
});

setInterval(function() {
    if (new Date().getTime() - timeLastInteraction >= interval_seconds_force*1000) {
        refresh()
        return
    }

    if (new Date().getTime() - timeLastInteraction >= interval_seconds*1000) {
        refresh()
    }
}, 1000);

})
</script>
