{% load crispy_forms_tags %}

<div class="create_intention">
<form method="post" action="intentions_draft/{{ today_draft_field.instance.id }}" class="todayEditForm mr-1 mr-sm-2" id="todayEditForm" style="width: 100%">
    {% csrf_token %}
    {{ today_draft_field.content|as_crispy_field }}
  <input type="hidden" name="version" value="{{ today_draft_field.instance.version }}">
  <span class="fieldSaveCallback">Autosaved</span>
</form>

<form action="{% url 'promote_draft_to_intentions' %}" method="post" class="form-disable-on-submit" style="flex-shrink: 0; flex-grow: 0" id="promote_draft_to_intentions_form">
  {% csrf_token %}
  <button type="submit" class="btn btn-md btn-primary">Submit</button>
</form>
</div>
