<span data-toggle="modal" data-target="#feedbackModal" style="cursor:pointer;">
  <i class="bi bi-envelope-open"></i> Give feedback
</span>

<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feedbackModalLabel">Give feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="feedbackForm" method="POST" action="https://formspree.io/f/xdobpqjd">
        <div class="modal-body">
          <div class="form-group">
            <label class="form-group">
              Message (required)
              <textarea name="message" required class="form-control" rows="5" cols="100"></textarea>
            </label>
          </div>
          <div class="form-group">
            <label>
              email so I can reply (optional)
              <input name="email" class="form-control">
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <span id="feedbackCallback"></span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
    var form = document.getElementById("feedbackForm");

    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("feedbackCallback");
      status.innerHTML = "Sending..."
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission!";
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>