{% load crispy_forms_tags %}
<form method="post" action="intentions_draft/{{ draft_field.instance.id }}" class="intentions-draft-form form-disable-on-submit">
    {% csrf_token %}

    <div class="intentions-draft-fields">
        {{ draft_field.content|as_crispy_field }}
        <input type="hidden" name="version" value="{{ draft_field.instance.version }}">
    </div>

    {% if submit_button %}
      {# Attribute `formaction` overrides the `action` set at the form level #}
      <button type="submit" class="promote_draft_to_intentions_button btn btn-md btn-primary ml-1 ml-sm-2" formaction="/promote_draft_to_intentions">Submit</button>
    {% endif %}
</form>
