  <span data-toggle="modal" data-target="#keyboardShortcutModal" style="cursor:pointer;" id="keyboardShortcutLink">
    <i class="bi bi-info-circle"></i> Keyboard shorcuts
  </span>

<!-- Modal -->
<div class="modal fade" id="keyboardShortcutModal" tabindex="-1" role="dialog" aria-labelledby="keyboardShortcutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="keyboardShortcutModalLabel">Keyboard shortcuts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
            <th>Key</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><kbd>i</kbd></td>
            <td>draft intentions for today</td>
          </tr>
          <tr>
            <td><kbd>shift+i</kbd></td>
            <td>draft intentions for tomorrow</td>
          </tr>
          <tr>
            <td><kbd>j</kbd>/<kbd>k</kbd></td>
            <td>next/previous intention in list</td>
          </tr>
          <tr>
            <td><kbd>esc</kbd></td>
            <td>leave keyboard navigation <span class="text-muted">(or, if inside 'add intention' box, leave that box)</span>
            </td>
          </tr>


          <tr>
            <td><kbd>space</kbd> or <kbd>x</kbd></td>
            <td>complete or un-complete intention</td>
          </tr>
          <tr>
            <td><kbd>f</kbd></td>
            <td>nevermind or un-nevermind intention</td>
          </tr>

          <tr>
            <td><kbd>a</kbd></td>
            <td>append text to intention</td>
          </tr>

          <tr>
            <td><kbd>n</kbd></td>
            <td>edit notes</td>
          </tr>

          <tr>
            <td><kbd>t</kbd></td>
            <td>go to today page</td>
          </tr>
          <tr>
            <td><kbd>h</kbd></td>
            <td>go to history page</td>
          </tr>
          <tr>
            <td><kbd>?</kbd></td>
            <td>show or hide keyboard shortcut list</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
