<div class="intention" status="{{ intention.get_status }}" id="intention{{ intention.id }}">
<form method="post" action="edit/{{ intention.id }}" onchange="this.submit()">
    {% csrf_token %}

    <label class="intention_title">
            <span class="complete_check">{{ intention.edit_form.completed }}</span>
            {{ intention.title }}
    </label>

    <div class="intention_buttons dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ intention.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton{{ intention.id }}">
            {% if intention.get_status != 'completed' %}
                <label class="nevermind_button dropdown-item">
                    {% if intention.get_status == 'neverminded'%}
                        Un-nevermind
                    {% elif intention.get_status == 'active' %}
                        Nevermind
                    {% endif %}

                    {{ intention.edit_form.neverminded }}
                </label>
            {% endif %}
            <li class="append_button dropdown-item" data-toggle="modal" data-target="#appendTextModal{{ intention.id }}">Append</li>
        </div>
    </div>
</form>




<!-- Modal -->
<div class="modal fade" id="appendTextModal{{ intention.id }}" tabindex="-1" role="dialog" aria-labelledby="appendTextModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appendTextModalTitle">What do you want to append?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="append/{{ intention.id }}">
        <div class="modal-body">
            {% csrf_token %}
            <input type="text" name="append" class="append_field form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Append</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>
