{% extends "base.html" %}
{% block title %}Welcome to intentions.page{% endblock %}
{% block content %}

  <p><h2>A to-do list based on simple principles</h2></p>

  <ol>

  <h5 class="text-muted"><li>You only add intentions for the current day.</h5>
    <p>What do you want to achieve <i>today</i>?</p>
  <h5 class="text-muted"><li>Start each day with a fresh list. </li></h5>
    <p>Plan daily actions that feel alive. Intentions for past days go to your history. </p>
  <h5 class="text-muted"><li>Stop organizing and start doing.</li></h5>
    <p>No editing intentions. You can append text if new information arises.</p>
    <p>No deleting intentions. You can't un-intend to do something. No longer a priority? Mark it as 'Never mind'.</p>
  </ol>

  <br>
  <a type="button" class="btn btn-primary btn-lg" href="{% url 'account_signup' %}">Sign up</a>
  <a type="button" class="btn btn-secondary btn-lg" href="{% url 'account_login' %}">Sign in</a>

  <br><br><br><p>Like these principles?
  Check out <a href="https://complice.co">Complice</a> ($12/month), which has lots more features.
  We totally copied their <a href="https://complice.co/philosophy">best design choices</a>.</p>
{% endblock %}
